<h3>Add Stylist</h3>
<form action="/stylist/add" method="post">
  <label for="stylist-name"></label>
  <input  name="stylist-name" required="required">
  <button type="submit">Add New Stylist</button>
</form>

<form action="/">
  <button type="submit">Return Home</button>
</form>
